:root {
  --white: #fff;
  --black: #000;

  /* Primary colors*/
  --primary-1: #2b8379;
  --primary-2: #19a596;
  --primary-3: #7fd1c7;
  --primary-4: #7fd1c7;
  --primary-5: #d0f3ef;

  /* Neutral colors */
  --neutral-1: #2c2c2c;
  --neutral-2: #434343;
  --neutral-3: #94868b;
  --neutral-4: #d9cfd3;
  --neutral-5: #f2ecee;

  /* Accent-blue colors */
  --accent-1: #970e3d;
  --accent-2: #c43464;
  --accent-3: #de7699;
  --accent-4: #e6c3ce;
  --accent-5: #fff2f7;
}

* {
  font-weight: thin;
  font-size: 18px;
}

body {
  background-color: var(--neutral-5);
  margin: 0;
}

h1 {
  font-weight: 600;
}

p {
  line-height: 30px;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.161);
  box-shadow: 0px 3px 7px 1px var(--neutral-2);
  padding: 25px;
  display: flex;
  margin-bottom: 5rem;
}
.navbar ul,
.navbar li {
  padding: 0;
}
.navbar ul {
  list-style: none;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar li {
  float: left;
  position: relative;
  width: auto;
}
.navbar a {
  color: #ffffff;
  display: block;
  font: 18px sans-serif;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
}

.navbar li:hover a {
  background: var(--neutral-4);
}

img {
  display: flex;
  align-items: center;
  width: 100px;
  height: 120px;
  margin: auto;
}

/* #submenu {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 35px;
  visibility: hidden;
  z-index: 1;
}
li:hover ul#submenu {
  opacity: 1;
  top: 40px; 
  visibility: visible;
} */

/*
#submenu li {
  float: none;
  width: 100%;
}
#submenu a:hover {
  background: #df4b05;
}
#submenu a {
  background-color: #000000;
}

*/

.label {
  display: inline;
  font-weight: 500;
}

.input {
  font-size: 16px;
  margin: 1em 0 1.5em 0;
  padding: 0.7em 0.45em;
  min-width: 200px;
  border: none;
  border-left: 5px solid var(--neutral-4);
  transition: border-left-color 160ms;
  background-color: #fff;
}

::placeholder {
  color: var(--neutral-3);
}

input:not(.btn):focus {
  outline: none;
  border-left: 5px solid var(--primary-1);
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  background: var(--primary-1);
  border: 1px solid white;
  color: white;
  padding: 25px;
}

.table td {
  padding: 10px;
  font-size: 18px;
  border: 1px solid white;
}

main {
  display: flex;
}

.table tbody tr:nth-child(2n) {
  background: #fff;
}

#submenu {
  opacity: 0;
  position: absolute;
  top: 40px;
  visibility: hidden;
  z-index: 1;
}

li:hover ul#submenu {
  display: grid;
  opacity: 1;
  top: 30px;
  visibility: visible;
  width: 100%;
}

#submenu li {
  float: none;
  width: 100%;
}

#submenu a:hover {
  background: var(--primary-3);
}

#submenu a {
  background-color: #2c2c2c;
}

#sidebar {
  min-width: 15%;
  color: #4d4e53;
  background-color: var(--neutral-5);
  line-height: 1.5;
  position: fixed;
  padding-left: 5px;
  min-width: 15%;
  top: 175px;
  left: 0px;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
  height: 100%;
}

header {
  color: #000;
  margin: 15px;
  text-align: center;
  font-size: 1.8em;
}

#sidebar ul {
  display: grid;
  padding: 0;
  height: 70%;
  overflow-y: auto;
  overflow-x: hidden;
}

#sidebar li {
  color: #4d4e53;
  border-top: 1px solid;
  position: relative;
  width: 100%;
}

#sidebar a {
  display: block;
  padding: 10px 30px;
  position: relative;
  color: #4d4e53;
  text-decoration: none;
}

.n-1-age {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px;
}
